<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Dashboard Page</title>
</head>
<body class="bg-gray-150">

    {% include 'include/navbar.html' %}

      <div class="flex">
        <div>
          <div class="flex">
            {% include 'include/addTransaction.html' %}
            {% include 'include/setTrigger.html' with limit=limit %}
          </div>
          {% include 'include/transactionList.html' %}
        </div>
        <div class="px-8 py-2 m-8 mt-8">
            <div class="font-bold text-2xl">Complete User Stats</div>
            <div class="w-[30vw] mt-4">
              <div>
                <div class="mb-1 text-lg font-medium dark:text-white">Expense Progress</div>
                <div class="w-full h-6 bg-gray-300 rounded-full dark:bg-gray-700">
                  <div class="h-6 bg-red-600 rounded-full dark:bg-red-500" style="width: {{percent}}"></div>
                  <span class="mb-1 text-xs float-right pr-2 pt-2">{{left}} </span>
                </div>     
              </div>
            </div>       
        </div>
      </div>
    
</body>
</html>