<form method="POST" class="bg-gray-100 shadow-xl rounded-xg  w-[31rem] px-12 pt-2 pb-4 m-8 mt-6">
    <span class="text-xl text-gray-300 font-bold">Add Transaction</span>
    <div class="flex mt-4">
      <input type="hidden" id="t_type" name="t_type" value="add_transaction"/>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
          Amount
        </label>
        <input required class="shadow appearance-none border rounded w-48 py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline" name="amount" id="amount" type="number" placeholder="475">
      </div>

      <div class="mb-4 ml-12">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
          Category
        </label>
        <div class="form-group bg-white shadow appearance-none border rounded h-10 w-50  text-gray-900 leading-tight focus:outline-none">
          <select required class="bg-white focus:ring-0 px-2 py-2"   name="category"  id="category">
            <option value="Salary Credited">Salary</option>
            <option value="Festival Bonus">Festival Bonus</option>
            <option selected="selected" value="EMI">EMI</option>
            <option value="Food">Food</option>
            <option value="Transportation">Transportation</option>
            <option value="Groceries">Groceries</option>
            <option value="Clothing">Clothing</option>
            <option value="Electronic">Electronic</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Rent">Rent</option>
            <option value="Vacations">Vacations</option>
          </select>
        </div>    
      </div>
      
    </div>
    <div class="flex ">
      <div>
        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
        <textarea id="description" required name="description" rows="4" class="block p-2.5 w-[19rem] text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write description here..."></textarea>
      </div>
      
      <div>
        <div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 mx-6 my-4 mt-8 h-24 rounded inline-flex items-center">
          <span>Add</span>
        </button>
        </div>
      </div>
    </div>
</form>   