<nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <span class="font-semibold text-2xl tracking-tight">Personal Finance Tracker</span>
    </div>
    <!-- <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <a href="/dashboard" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Dashboard
        </a>
        <a href="/graph" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Graph
        </a>
        <a href="/configure" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
          Configure
        </a>
      </div> -->
      <button
      onclick="window.location.href='logout'"
      type="submit"
      class="w-full float-right w-32 text-center py-3 rounded bg-blue-700 text-white hover:bg-blue-800 focus:outline-none"
      >
        Log Out
      </button>
    </div>
  </nav>
